@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lora:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: #FFFAFA;
  font-family: 'Poppins', sans-serif;
  height: inherit;
}

/* !MAIN CONTENT */
main {
  width: calc(100% - 20%);
  position: relative;
  left: 20%;
}

main .about {
  padding: 30px 20px;
  margin-bottom: 50px
}

.about h2 {
  font-size: 35px;
  color: #111827;
  margin-bottom: 12px;
  font-style: italic;
}

.about p {
  font-size: 17px;
  line-height: 30px;
  color: #182133;
  font-family: 'Lora', serif;
}

.addNotes {
  padding-inline: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(17, 24, 39, .25);
}

.addNotes #addNote {
  border: none;
  outline: none;
  font-size: 15px;
  padding: 15px 30px;
  color: #FFFAFA;
  font-weight: 600;
  background: #111827;
  cursor: pointer;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

#addNote i {
  margin-left: 3px;
}

.notes {
  padding: 30px 20px;
}

.notes .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.row .col {
  width: 280px;
  height: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.col .notes-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111827;
}

.col .notes-content {
  color: #182133;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  height: 150px;
  overflow: scroll;
}

.col .notes-content::-webkit-scrollbar {
  display: none;
}

.col .bottom-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom-note .date {
  font-size: 14px;
  color: #182133;
}

.bottom-note .button {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottom-note .button .deleteField {
  cursor: pointer;
  color: #CF0A0A;
  opacity: .8;
  font-size: 20px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.bottom-note .button .deleteField:hover {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

.bottom-note .button .edit {
  font-size: 12px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111827;
  cursor: pointer;
  color: #FFFAFA;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.bottom-note .button .edit:hover  {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

/* !POP UP ADD NOTE */
.pop-up {
  width: 480px;
  background: #FFFAFA;
  box-shadow: 0 0 0 100vmax rgba(17, 24, 39, .7);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 25px 20px;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.pop-up.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.pop-up .form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.form .popup-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.form .popup-top label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form .popup-top label span {
  font-size: 18px;
  margin-bottom: 5px;
  color: #111827;
  font-weight: 500;
}

.form .popup-top label input,
.form .popup-top label textarea {
  outline: none;
  background: none;
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgba(17, 24, 39, .3);
  color: #182133;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.form .popup-top label input:focus,
.form .popup-top label textarea:focus {
  border: 1px solid rgba(17, 24, 39, .85);
}

.form .popup-top label textarea{
  height: 170px;
}

.form .popup-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
  margin-top: 10px;
}

.form .popup-bottom button {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.form .popup-bottom button#batal {
  color: #111827;
  border: 1px solid #111827;
  padding: 5px 20px;
  opacity: 0;
  pointer-events: none;
}

.form .popup-bottom button#batal.available {
  opacity: 1;
  pointer-events: auto;
}

.form .popup-bottom button#tambah {
  color: #FFFAFA;
  background: #111827;
  padding: 7px 20px;
}

.form .popup-bottom button#reset:hover,
.form .popup-bottom button#tambah:hover {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
}

.form .alert,
.form-edit .alert {
  color: #FF0000;
  font-size: 14px;
  opacity: 0;
}

/* !pop up delete */
.pop-up-delete {
  width: 480px;
  padding: 40px 30px;
  background: #FFF;
  box-shadow: 0 0 0 100vmax rgba(17, 24, 39, .3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}

.pop-up-delete.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.pop-up-delete .text {
  font-size: 18px;
  color: #111827;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(17, 24, 39, .3);
  margin-bottom: 25px;
}

.pop-up-delete .button-delete-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.pop-up-delete .button-delete-field button {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.pop-up-delete .button-delete-field button#batal-delete {
  color: #111827;
  border: 1px solid #111827;
  padding: 5px 20px;
}

.pop-up-delete .button-delete-field button#delete {
  color: #FFFAFA;
  background: #111827;
  padding: 7px 20px;
}

.pop-up-delete .button-delete-field button#batal-delete:hover,
.pop-up-delete .button-delete-field button#delete:hover {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
}